<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Login</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1 class="title" style="text-align: center">Login</h1>

<!-- Login Form -->
<div class="login-container" style="text-align: center">
  <form th:action="@{/login}" method="post">
    <!-- Username input-->
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required="required" />

    <br /><br />

    <!-- Password input -->
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required="required" />

    <!-- Submit button -->
    <button type="submit">Login</button>
  </form>
  <p>Don't have an account? <a href="/signup">Sign up here</a></p>

  <!-- Display error message if login failed -->
  <div th:if="${error}" style="color: red;">
    <p th:text="${error}"></p>
  </div>
</div>


</div>
</body>
</html>