<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Postări</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css">
</head>
<body style="background-color: antiquewhite">
    <a href="/login">
        <button class="btn" style="color: wheat;margin: 10px; background-color: darkred"> Logout </button>
    </a>
    <h1 class="title" style="text-align: center">Postări</h1>
    <div class="container mt-5">
        <div class="add-post-div" style="text-align: center">
            <a href="/add-post">
                <button class="btn btn-info" style="background-color: burlywood; border-color: black">New Post</button>
            </a>
        </div>
        <div class="show-post" th:each="post : ${posts}">
            <h3 th:text="${post.title}"></h3>
            <div class="post-details">
                <span th:text="${post.ageTarget}"></span> |
                <span th:text="${post.domain}"></span>
            </div>
        </div>
    </div>

</body>
</html>